[Unit]
Description=Gunicorn instance to serve zahony
After=network.target

[Service]
User=honza
Group=www-data
WorkingDirectory=/srv/apps/09_zahony
EnvironmentFile=-/srv/apps/09_zahony/.env
Environment="DJANGO_SETTINGS_MODULE=_conf.settings.prod"
ExecStart=/srv/apps/09_zahony/.venv/bin/gunicorn _conf.wsgi:application --workers 1 --bind 0.0.0.0:8009

[Install]
WantedBy=multi-user.target
